.button-start {
  color: $color-light;
  font-family: $font-primary;
  font-weight: $weight-semibold;
  font-size: $size-sm;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 130px;
  height: 42px;
  border-radius: 20px;
  background-color: $color-paleta1-secondary;
  border: solid 1px $color-border-start-button;
}

.button-reset {
  display: block;
  height: 30px;
  margin: 10px 0 20px 0;
  padding-left: 10px;
  padding-right: 10px;
  color: $color-medium-dark-dark;
  background-color: transparent;
  border: 1px solid $color-light;
  border-radius: 15px;
  cursor: pointer;
}

.button-reset__text {
  border: none;
  padding-left: 10px;
}

.btn-card {
  height: 50px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: $color-primary;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  color: $color-light;
  cursor: pointer;
  display: block;
}

.btn-card--inactive {
  height: 50px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: $color-submit-button;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  color: $color-light;
  cursor: pointer;
  display: block;
}

.btn-card--position {
  margin: 30px auto;
}

.btn-twitter {
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $color-twitter-button;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  color: $color-light;
  cursor: pointer;
}

.btn-twitter--position {
  display: block;
  margin: 10px auto 30px auto;
}

.input__file--hidden {
  display: none;
}

.item__button-file {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 30px;
  margin-right: 20px;
  background-color: $color-primary;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  cursor: pointer;
}

.item__button-checkbox {
  width: 30px;
  height: 30px;
  border: solid 1px $color-paleta1-terciary;
}

select {
  width: 55%;
  height: 30px;
  background-color: inherit;
  border: solid 1px $color-paleta1-terciary;
  border-radius: 4px;
}

.item__select-button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border: solid 1px $color-primary;
  border-radius: 15px;
  color: $color-primary;
  font-size: $size-m;
  cursor: pointer;
}
