// COLORES

// Colores página

$color-primary: #e17334; //dull-orange
$color-secondary: #f9f4dc; //kakhi

$color-gradient-light: #dde9ed;
$color-gradient-dark: #bfcdd0;

$color-light: #fff;
$color-medium-light-light: #f5f5f5;
$color-medium-light: #d8d8d8;
$color-medium: #c5c5c5;
$color-medium-dark: #6b6b6b;
$color-medium-dark-dark: #54585a;
$color-dark: #000;

$color-submit-button: #d5d5d5;
$color-twitter-button: #00a0f5;
$color-border-start-button: #979797;
// Paleta 1

$color-paleta1-primary: #114e4e;
$color-paleta1-secondary: #438792;
$color-paleta1-terciary: #a2deaf;

// Paleta 2

$color-paleta2-primary: #420101;
$color-paleta2-secondary: #bd1010;
$color-paleta2-terciary: #e95626;

// Paleta 3

$color-paleta3-primary: #3e5b65;
$color-paleta3-secondary: #dfe5eb;
$color-paleta3-terciary: #a0c0cf;

// FUENTES

// Familia

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Merriweather', serif;

$font-optional-1: 'Ubuntu', sans-serif;
$font-optional-2: 'Comic Sans MS', 'Chilanka', 'Gaegu', sans-serif;
$font-optional-3: 'Merriweather', serif;

// Weight

$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-superbold: 900;
// Tamaño

$size-xxs: 12px;
$size-xs: 13px;
$size-s: 14px;
$size-sm: 16px;
$size-m: 18px;
$size-ml: 19px;
$size-l: 24px;
$size-xl: 28px;
