* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: $font-primary;
  color: $color-medium-dark-dark;
 overflow-x: hidden;
}

.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
  // color: $color-paleta1-primary;
}
