.body {
  display: flex;
  flex-direction: column;
  background-color: $color-medium-light-light;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin: 94px 35px 0 35px;
  position: relative;
}

.image {
  width: 250px;
  margin-left: 34px;
  margin-right: 34px;

  @media all and (min-width: 768px) {
    width: 420px;
  }
}

.main__sub-title {
  color: $color-primary;
  font-family: $font-secondary;
  font-weight: $weight-superbold;
  font-size: $size-ml;
  display: flex;
  text-align: center;
  max-width: 222px;
  margin: auto;
  margin-top: 30px;
}

.main__paragraph {
  color: $color-paleta1-primary;
  font-family: $font-primary;
  font-weight: $weight-regular;
  font-size: $size-xs;
  display: flex; //block//
  text-align: center;
  max-width: 264px;
  margin: auto;
  margin-bottom: 14px;
}

@media all and (min-width: 768px) {
  .main__paragraph {
    margin-bottom: 20px;
  }
}

.main__section-2 {
  width: 268px;
  height: 74px;
  border-radius: 4px;
  border: solid 1.6px;
  border: solid 1.6px rgba($color-primary, 0.2);
  margin: auto;
}

@media all and (min-width: 768px) {
  .main__section-2 {
    width: 330px;
    height: 86px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .card-options__item {
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.card-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  color: $color-medium-dark-dark;
  font-family: $font-primary;
  font-weight: $weight-regular;
  font-size: $size-sm;
  list-style: none;
  padding-top: 12px;

  // .card-options{
  // @media all and (min-width: 768px) {
  // width: 330px;
  // height: 86px;
  // }
}

.card-options__item {
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;

  //  @media all and (min-width: 768px) {
  // padding-left: 20px;
  // padding-right: 20px;
  // }
}

.icon__primary--card {
  color: $color-primary;
}

.main__section-3 {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: 30px;
  transform: translateX(-50%);
}
